Repository CSID-DGU/2025-1-OSSProj-liong-01, pull requests merged in 2025-06, with the labels that each got.

#43 [Feat]#33-월간 감정 분석 Ui
  src/frontend/package.json
  src/frontend/public/images/character/afraid.png
  src/frontend/public/images/character/angry.png
  src/frontend/public/images/character/etc.png
  src/frontend/public/images/character/happy.png
  src/frontend/public/images/character/peace.png
  src/frontend/public/images/character/sad.png
  src/frontend/public/images/character/surprise.png
  src/frontend/public/images/icons/nightReport.png
  src/frontend/public/images/icons/tag.png
  src/frontend/src/apis/auth/postLogin.ts
  src/frontend/src/apis/auth/postSignup.ts
  src/frontend/src/apis/dummy/dummyMonthListData.ts
  src/frontend/src/apis/instance.ts
  src/frontend/src/apis/monthReport/getMonthList.ts
  src/frontend/src/components/footer/Footer.tsx
  src/frontend/src/components/monthPickHeader.tsx
  src/frontend/src/layouts/DefaultLayout.tsx
  src/frontend/src/layouts/FlexLayout.tsx
  src/frontend/src/pages/Main/components/MainHeader.styled.ts
  src/frontend/src/pages/Main/components/MainHeader.tsx
  src/frontend/src/pages/MonthList/MonthListPage.tsx
  src/frontend/src/pages/MonthList/MonthListPage_styled.ts
  src/frontend/src/pages/MonthList/components/MonthListCard.tsx
  src/frontend/src/pages/MonthList/components/MonthListCard_styled.ts
  src/frontend/src/pages/MonthList/components/MonthListContent.tsx
  src/frontend/src/pages/TodayReport/TodayReport.tsx
  src/frontend/src/pages/TodayReport/components/TodayReportContainer.tsx
  src/frontend/src/pages/TodayReport/components/TodayReportNight/TodayReportNight.tsx
  src/frontend/src/pages/TodayReport/components/TodayReportNight/TodayReportNight_styled.ts
  src/frontend/src/pages/TodayReport/components/TodayReportNight/TodayReportTitle.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/utils/emotionToImg.ts
  src/frontend/tsconfig.app.json
Labels: 🐰 찬주, ✨ Feature, 🍈 Front

#44 [Feat]#33-감정 바이오리듬 그래프
  package-lock.json
  package.json
  src/frontend/src/apis/diary/getDiaryNightAnalysis.ts
  src/frontend/src/apis/dummy/dummyDiaryAnalysisNight.ts
  src/frontend/src/pages/TodayReport/components/TodayReportNight/TodayReportGraph/TodayBio.tsx
  src/frontend/src/pages/TodayReport/components/TodayReportNight/TodayReportNight.tsx
Labels: 🐰 찬주, ✨ Feature, 🍈 Front

#46 [Feat]#33-감정 분석 페이지 도넛 차트
  package-lock.json
  package.json
  src/frontend/src/apis/diary/getDiaryNightAnalysis.ts
  src/frontend/src/apis/dummy/dummyDiaryAnalysisNight.ts
  src/frontend/src/pages/TodayReport/components/TodayReportNight/TodayReportGraph/TodayBio.tsx
  src/frontend/src/pages/TodayReport/components/TodayReportNight/TodayReportGraph/TodayEmotion.tsx
  src/frontend/src/pages/TodayReport/components/TodayReportNight/TodayReportGraph/TodayReportGraph_styled.ts
  src/frontend/src/pages/TodayReport/components/TodayReportNight/TodayReportNight.tsx
  src/frontend/src/pages/TodayReport/components/TodayReportNight/TodayReportNight_styled.ts
  src/frontend/src/pages/TodayReport/components/TodayReportNight/TodayReportTitle.tsx
  src/frontend/src/pages/TodayReport/components/TodayReportNight/TodayTip.tsx
  src/frontend/src/styles/globalStyle.ts
Labels: 🐰 찬주, ✨ Feature, 🍈 Front

#48 [Refactor]#33-콘텐츠 추천 컴포넌트 분리 후 밤 버전에 사용
  src/frontend/src/apis/diary/getDiaryNightAnalysis.ts
  src/frontend/src/pages/TodayReport/TodayReport.tsx
  src/frontend/src/pages/TodayReport/components/TodayContentRecommendation.tsx
  src/frontend/src/pages/TodayReport/components/TodayReportContainer.tsx
  src/frontend/src/pages/TodayReport/components/TodayReportNight/TodayReportNight.tsx
  src/frontend/src/pages/TodayReport/components/TodayReportNight/TodayReportNight_styled.ts
Labels: 🐰 찬주, 🍈 Front, 🔨 Refactor

#51 [Fix]#49-더미데이터 변수명 수정
  src/frontend/src/apis/dummy/dummyDiaryAnalysis.ts
Labels: 🐰 찬주, 🐛 Fix, 🍈 Front

#52 [Fix]#49-프론트 폴더에 Jotai 설치
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: 🐰 찬주, 🐛 Fix, 🍈 Front

#69 [feat]#67-감정+감정 원인 분석 통합 T5 모델 재구축
  .gitignore
  src/backend/ai/comment.py
  src/backend/ai/sentiment_cause/huggingface.py
  src/backend/ai/sentiment_cause/inference/inference.py
  src/backend/ai/sentiment_cause/train/sentiment_cause.py
Labels: 🐰 민영, ✨ Feature, 🤖 AI

#73 [deploy] 배포준비
  src/backend/ai/sentiment_cause/inference/__pycache__/inference.cpython-312.pyc
  src/backend/project/settings.py
  src/backend/requirements.txt
Labels: 🐰 수연, 🐶 Back

#75 [Fix]#74-로그인 캐릭터, 컨텐츠 링크 이동, 로그인 api 수정
  src/frontend/.gitignore
  src/frontend/public/images/Login/login_character.png
  src/frontend/src/apis/auth/postLogin.ts
  src/frontend/src/apis/auth/postSignup.ts
  src/frontend/src/apis/dummy/dummyMonthReportDetail.ts
  src/frontend/src/apis/instance.ts
  src/frontend/src/pages/TodayReport/components/ContentCardList.tsx
  src/frontend/src/pages/TodayReport/components/TodayReportNight/TodayReportGraph/TodayReportGraph_styled.ts
Labels: 🐰 찬주, 🐛 Fix, 🍈 Front

#88 [Fix]#74-로그아웃 모달 취소 관리, 툴팁 호버 영역
  src/frontend/src/pages/Main/components/LogoutModal.tsx
  src/frontend/src/pages/Main/components/MainHeader.tsx
  src/frontend/src/pages/TodayReport/components/TodayReportNight/TodayReportGraph/TodayReportGraph_styled.ts
Labels: 🐰 찬주, 🐛 Fix, 🍈 Front
